/*ok most of this crap is throwaway stuff as i go through lessons.
we'll get rid of it as soon as i get back to the real page*/
#first {font-style: italic; color: blue}
#second {color: blue;}
#data-table-1 td:first-child {font-weight: bolder;}
#data-table-1 td:first-child + td {font-family: monospace;}
body {background: url("Blue-rule.png");}
p {font: italic 100%/125% serif;}
p:before {content: url("Yellow-pin.png")}
strong {color: red;}
.carrot {color: orange}
.spinach {color: green}
a.naked:link, a.naked:visited {
	padding: 5px 10px 5px 10px;
	color: #fff;
	background: #333;
	border-radius: 3px;
	border:1px outset rgba(50,50,50,.5);
	font-family: georgia, serif;
	font-size: 14px;
	font-style: italic;
	text-decoration: none;
}
a.naked:hover, a.naked:focus, a.naked:active {
	background-color: #999;
}