ol.info {
	list-style: lower-roman; 
	color: red;
	margin-bottom: 8px;
}

h3 {
  border-top: 1px solid gray; /* mid green */
  border-bottom: 1px solid gray;
  background-color: #efe;     /* pale green */
  color: #050;                /* dark green */
  }