
body {
	margin: 0;
	padding: 0;
	background-color: #c3cb71;
}
.header {
	background-color: #559e83;
	height: 150px;
	border-bottom: solid 5px #ae5a41;
	margin-bottom: 20px;
	margin-top: -20px;
}
.craphead {
	width: 1000px;
	padding: 50 auto 30;
	margin: auto;
	position: relative;
	top: 120px;
}
.middle {
	text-align: justify;
	margin: 50px;
	overflow: auto;
	position: relative;
}
.midshit {
	width: 500px;
	padding: 0 25px 25px 320px;
	float: left;
}
.leftshit {
	float: left;
	width: 225px;
	height: 450px;
	padding: 25px;
	position: fixed;
}
.rightshit {
	width: 225px;
	height: 450px;
	float: left;
	font-size: 3em;
	padding: 0 25px 25px 880px;
	position: fixed;

}
img {
	width: 225px;
	height: 420px;
}
.footer {
	background-color: #559e83;
	height: 150px;
	border-top: solid 5px #ae5a41;
	clear: both;
}
.foothole {
	width: 1000px;
	position: relative;
	margin: auto;
	top: 70px;
}
